.ModalBackground {
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: flex;
  height: 100vh;
  left: 0;
  opacity: 0;
  padding: 0 2rem;
  pointer-events: none;
  position: fixed;
  transition: all 0.3s ease-in-out;
  top: 0;
  width: 100vw;
  will-change: opacity, pointer-events;
  z-index: 1;
}
.ModalBackground--visible {
  opacity: 1;
  pointer-events: all;
}

.TodoForm {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  min-width: 150px;
  max-width: 460px;
  background-color: #171723;
  padding: 55px 20px 35px 20px;
  border-radius: 15px;
  color: #b0b0cc;
  margin: 0 auto;
  opacity: 0;
  transform: translate(-50%, -100%) scale(0);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  visibility: hidden;
  width: 90%;
  will-change: transform, opacity, visibility;
  z-index: 1;
}
.TodoForm--open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
.TodoForm--closed {
  scale: 0;
}

.TodoForm_closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
}
.TodoForm_closeButton:hover {
  background-color: red;
}
.TodoForm_closeButton .icon {
  font-size: 18px;
  color: #171723;
}
.TodoForm_closeButton .icon:hover {
  cursor: pointer;
}

.TodoForm_inputSeccion {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
}
.TodoForm_inputSeccion .Label_text {
  margin: 0;
  font-size: 15px;
  margin-bottom: 16px;
}
.TodoForm_inputSeccion .text-error {
  color: red;
}

.TodoForm_inputSeccion .Label_input {
  box-sizing: border-box;
  height: 16px;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px aqua;
  color: #fff;
  font-size: 13px;
  background-color: transparent;
}
.TodoForm_inputSeccion .input-error {
  border-color: red;
}

.TodoForm_inputSeccion .Label_input:focus-visible {
  outline: 2px transparent;
  outline-offset: 3px;
}

.TodoForm_buttonSeccion {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.TodoForm_buttonSeccion button {
  padding: 5px 10px;
  font-size: 14px;
  color: #b0b0cc;
  border: none;
  border-radius: 7px;
  background-color: #25273c;
  transition: 0.7s;
}

.TodoForm_buttonSeccion button:hover {
  cursor: pointer;
  padding: 6px 12px;
  background-color: aqua;
  color: #171723;
}
