.TodoItem {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 13px;
  width: 100%;
}

.TodoItem:not(:last-child) {
  border-bottom: 1px solid #333;
}

.TodoItem .cheackbox {
  display: flex;
  align-items: center;
}
.cheackbox .button_cheackbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid #b0b0cc;
  background: transparent;
  color: transparent;
}
.cheackbox .button_cheackbox--active {
  border: none;
  background: linear-gradient(90deg, rgba(56,0,255,1) 0%, rgba(178,29,226,1) 100%);
  color: #fff;
}

.cheackbox .icon_check {
  font-size: 15px;
  font-weight: 300;
}
.cheackbox .button_cheackbox:hover {
  cursor: pointer;
}



.cheackbox .text_cheackbox {
  margin: 10px 0;
  font-size: 14px;
  word-break: break-word;
}
.cheackbox .text_cheackbox--active {
  color: #b0b0cc;
  text-decoration: line-through;
}


.TodoItem .buttons_container {
  display: flex;
  align-items: center;
}
.buttons_container button {
  margin: 0 6px;
  background-color: transparent;
  border: none;

  /* width: 24px; */
  /* height: 24px; */
}

.buttons_container button .icon {
  font-size: 17px;
  color: #fff;
}

.buttons_container .button_edit .icon{
  color: #fff;
}
.buttons_container .button_edit .icon:hover {
  cursor: pointer;
  color: aqua;
}
.buttons_container .button_trash .icon{
  color: #fff;
}
.buttons_container .button_trash .icon:hover {
  cursor: pointer;
  color: red;
}
